.DS_Store
.vscode
.clang-format
build
builddebug
benchmark/test*
tree/insert.h
tree/search.h
tree/test*
notes.md
old_file
scripts/plots/*
output
output_old
output_nowtsuffix
moduletest
screenout
outputs
tree_mt_old